# Dependencias
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Archivos de configuración de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Directorios de depuración
.vscode/
.idea/
*.swp
*.swo

# Sistema Operativo
.DS_Store
Thumbs.db

